.dark-mode {
    background: #212121;
    color: white;
}

.dark-mode .navbar {
    background: #212121;
    color: white;
}

.dark-mode .nav-link {
    background: #212121;
    color: white;
}

.dark-mode .ticket-list-container {
    background: #212121;
    color: white;
}

// .dark-mode-canvas {
//     background: #212121f0;
//     color: white;
// } 

// .dark-mode-canvas .ai-output, .dark-mode-canvas input {
//     background: #212121;
//     color: white;
// }

.dark-mode input {
    background: #212121;
    color: white;
}

.dark-mode .ticket-container {
    background: #212121;
    color: white;
}

.dark-mode .goal-and-ticket-container {
    color: white;
}

.dark-mode .ticket-checklist {
    border: 1px solid white;
}

.dark-mode .ticket-notes {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.dark-mode {
    .goal-toggle:hover {
        color: black;
    }

    .login-container {
        background: #212121;
    }
    
    .login-box {
        background: #232323;
    }

    .note-item {
        border-bottom: 1px solid white;
    }

    .ticket-card.ghosted {
        background-color: rgba(255, 255, 255, 0.444);
        color: white;
    }

    .back-to-list {
        color: #bebebe;
    }

    .editable {
        color: lightgray;
    }

    .ticket-title {
        color: white;
    }

    .ticket-context-container {
        background: #191919;

        .ticket-context-action:hover {
            background: #484848;
            color: white;
        }
    }

    .focus-selector {
        background: #191919;
        // border: unset;
        svg {
            color: aqua;
        }
    }

    .focus-enabled {
        background: aqua;
        
        svg {
            color: black;
        }
    }

    .ai-input button {
        background: whitesmoke;
        svg {
            color: black;
        }
    }

    .user-message {
        background: black;
    }

    .toggle-ai-btn {
        background: #535353;
        color: white;
    }

    .shortcut-button {
        background: #303030;
        &.selected {
            background: #00d3d3;
        }
    }
}