.dark-mode {
    background: #212121;
    color: white;
}

.dark-mode .navbar {
    background: #212121;
    color: white;
}

.dark-mode .nav-link {
    background: #212121;
    color: white;
}

.dark-mode .ticket-list-container {
    background: #212121;
    color: white;
}

.dark-mode-canvas {
    background: #212121f0;
    color: white;
} 

.dark-mode-canvas .ai-output, .dark-mode-canvas input {
    background: #212121;
    color: white;
}

.dark-mode input {
    background: #212121;
    color: white;
}

.dark-mode .ticket-container {
    background: #212121;
    color: white;
}

.dark-mode .goal-and-ticket-container {
    color: white;
}

.dark-mode .ticket-checklist {
    border: 1px solid white;
}

.dark-mode .ticket-notes {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.dark-mode {
    .goal-toggle:hover {
        color: black;
    }

    .login-container {
        background: #212121;
    }
    
    .login-box {
        background: #232323;
    }

    .note-item {
        border-bottom: 1px solid white;
    }
}