.ticket-space-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    // border-top: 3px solid grey;
}

.ticket-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px dashed grey;
    // border-radius: 8px;
    // padding: 10px;
    position: relative;
    padding-bottom: 20px;
}

.ticket-item {
    display: flex;
    margin: 3px;
    width: 90%;
}

.ticket-date-container {
    display: flex;
    font-size: small;
}

.ticket-utility-container {
    // position: absolute;
    top: calc(50% - 20px);
    left: 5px;
    display: flex;
    margin-right: 8px;
    // position: absolute;
    // right: 100px;
    // top: 10px;
}

.compass-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-actions {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    z-index: 2;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}

.ticket-action-icon {
    width: 30px;
    // background-color: #818383c2;
    border-radius: 50%;
    transition: all 0.777s ease-in-out;
    &:hover {
        background-color: #58ccf6;
        background-color: whitesmoke;
        transition: all 0.2s ease-in-out;
    }
}

.compass-popup {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button {
    width: 50px;
    padding: 8px;
    // height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    position: absolute;
    background-color: rgb(54, 149, 222);
    color: white;
    font-size: 12px;
    transition: transform 0.2s ease, background-color 0.3s ease;

    &:hover {
        background-color: #9dd7fe;
        color: black;
    }
}

.north {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .2s ease-in-out;
}

.south {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.east {
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.west {
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.checklist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid red;
    font-size: small;
}

.ticket-checklist {
    border: 1px solid black;
    margin: 10px 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    .even {
        order: 1;
    }
    .odd {
        order: 2;
    }

} 

.checklist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: calc(50% - 8px);
    // padding: 4px;
    // font-size: 15px;
    // border-bottom: 1px dashed;
    // margin-bottom: 1rem;
}

.checklist-input-container {
    display: flex;
    width: 100%;
    position: relative;
}

.checklist-item input {
    // font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 10px;
    overflow: visible;
}

.checked-list-item {
    text-decoration: line-through;
    width: 100%;
}

.unchecked-list-item {
    width: 100%;
}

.add-checklist-container, .add-note-container {
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    // border: 1px solid black;
    input {
        border: none;
        background-color: transparent;
        color: white;
    }
    div { //ADD button
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        padding: 7px 0px;
        color: black;
        background-color: #3594dd;
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, #ffffff 0%, rgba(65, 113, 131, 0.6407738095238095) 25%,rgba(56, 152, 225, 0.801) 100%);        // background-color: #8c47c5;
        border-radius: 0 6px 6px 0;
        transition: all 0.2s ease-in-out;
        &:hover{
            cursor: pointer;
            background-color: #000000 !important;
            color: white;
        }
    }
}

.ticket-note-input, .note-input, .checklist-input {
    width: 70%;
    outline: none;
} 

.notes-container {
    display: flex;
    flex-direction: column;
    font-size: small;
    // border: 1px solid red;
} 

.ticket-notes {
    border: 1px solid black;
    margin: 10px 2rem;
    :last-child {
            border-bottom: none;
        }
}

.note-item {
    // width: 70%;
    display: flex;
    justify-content: space-between;
    // border-radius: 6px;
    border-bottom: 1px solid white;
    position: relative;

    input {
        width: 95%;
        border: none;
        background-color: transparent;
        padding: 5px;
        color: white;
    }
    button {

    }
}

.activate-notes, .activate-checklist {
    font-size: .85rem;
    color: #58ccf6;
    &:hover {
        cursor: pointer;
        color: #00bbff;
    }
}

.checklist-trash {
    &:hover{
        cursor: pointer;
    }
}

.note-controls, .checklist-controls {
    display: flex;
}

.remove-note, .remove-checklist {
    font-size: 1.75rem;
    color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-note-disabled, .remove-checklist-disabled {
    display: none;
}

.remove-note:hover, .remove-checklist:hover {
    cursor: pointer;
}

.add-note, .add-checklist {
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

.add-note-disabled, .add-checklist-disabled {
    display: none;
}

.add-note:hover, .add-checklist:hover {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.note-item span, .checked-list-item span {
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}