.ticket-container {
    // border: 1px solid #ddd;
    // margin: 15px;
    // margin-bottom: 10px;
    // border-radius: 8px;
    transition: background-color 0.3s;
}

.ticket-title-and-text {
    width: 100%;
}

.editable {
    cursor: pointer;
    margin: 5px 0px 25px 0px;
    border-radius: 4px;
    transition: background-color 0.2s;
    color: #5a5a5a;
}

.editable:hover {
    // background-color: #f3f3f3;
    cursor: text;
}

.ticket-title {
    display: flex;
    margin: 15px 0px 10px 0px;
    width: 90%;
    font-weight: 800;
    color: #212121;
    font-size: 1.1rem;
    // padding: 5px;
}

.edit-field {
    display: flex;
    align-items: center;
    gap: 5px;
}

.editable-text {
    font-size: 16px;
    font-family: inherit;
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: auto;
    /* Adjusts to content */
    display: block;
    line-height: 1.5;
}

/* Makes textarea look the same as the div */
.editable-textarea {
    all: unset;
    /* Removes default textarea styling */
    font-size: inherit;
    font-family: inherit;
    width: 60vw;
    height: auto;
    line-height: inherit;
    display: block;
    padding: 5px;
    background: transparent;
    border: 1px solid grey;
    resize: none;
    overflow: hidden;
}

.cancel-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
}

.loading {
    font-size: 12px;
    color: #666;
    margin-left: 10px;
}

.ticket-button-container {
    display: flex;
    font-size: .9rem;
    color: gray;
    margin-top: 1rem;

    .done:hover {
        color: green;
    }

    .help:hover {
        color: orange;
    }

    .delete:hover {
        color: darkred;
    }

    .ticket-button {
        margin-right: 1rem;
        &:hover {
            cursor: pointer;
        }
    }

}