@import 'stylesheets/TEST_COMPONENT.scss';
@import 'stylesheets/login.scss';
@import 'stylesheets/tickets.scss';
@import 'stylesheets/goals.scss';
@import 'stylesheets/canvas.scss';
@import 'stylesheets/kanban.scss';
@import 'stylesheets/TicketSpace.scss';
@import 'stylesheets/Navbar.scss';
@import 'stylesheets/themes.scss';
@import 'stylesheets/modal.scss';
@import 'stylesheets/routine.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  // font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.kanban-board,
.ai-canvas {
  touch-action: auto;
}